#content{
	height: 100%;
	width: 100%;
}

.login-btn {
	position: absolute; 
	right:2%;
	top:1px;
	list-style: none;
}
#map {
	float: left;

	height: 500px;
}
.hide {
	display: none;
}
#map p {
	margin:0;
	color:#000;
	font-size:0.8em;
	width:222px;
}

#route{
	width:465px;
	float: right;
	overflow: auto;
}

p.mentions {
	margin:0;
	padding:10px 0px;
	font-size:0.6em;
}


p.loader {
	padding:7px 0;
	text-align:center;
	width:222px;
}

#conteneur {
	width:600px;
	padding:10px;
	margin: 5px auto;
}

#conteneur form {
	margin:0;
	background:#3f3f3f;
	padding: 4px;
}

#conteneur form label{
	padding: 2px 0;
}
td {
	vertical-align: middle !important;
}

#itineraire-form {
	text-align: center;
}

#size{
  width:222px;
  height:160px;
  overflow: visible !important;
}
.form-selection {
	width: 65%;
	margin: auto;
}
#send-form {
	margin-top: 20px;
	width:220px;
}
.box{
	color:white;
	margin-left: 10px;
}
.formChemin{
	margin: 0 0 0 0;
	margin-top: 4px;
	margin-left: 500px;
}

#header{
	text-align: center;
}

#fav{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}