{% extends "WebMainBundle::layout.html.twig" %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="alert alert-info" style="width: 50%; margin:15px auto 10px auto;">
	        {{ flashMessage }}
	        <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
	{% endfor %}
	<div id="fav">
		<div class="page-header">
				<h1>Stations favorites :</h1>
			</div>
			
			{% if favoris %}
				<table class="table table-bordered">
				{% for fav in favoris %}
					<tr>
						<td class="span9">{{ fav.nomStation }}</td>
						<td>
							<div class='btn-group'>
								<a href="{{path('map_station',{station: fav.slugNomStation}) }}" class="btn">
									Voir
								</a>
								<a href="{{ path('delete_favori', {id: fav.id }) }}" class="btn btn-danger">
									Supprimer
								</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</table>
			{% else %}
				<h2 class="alert" style='text-align:center'>Vous n'avez aucun favori.</h2>
			{% endif %}
	</div>
	
	
{% endblock %}
