{% extends "WebMainBundle::layout.html.twig" %}

{% block body %}
	<div class="page-header">
		<h1>Stations favorites :</h1>
	</div>
	
	{% if favoris %}
		{% for fav in favoris %}
			<table class="table table-bordered">
				<tr>
					<td>{{ fav.nomStation }}</td>
					<td><a href="{{ path('delete_favori', {id: fav.id }) }}" class="btn btn-danger">Supprimer</a></td>
				</tr>
			</table>
		{% endfor %}

	{% else %}
		<h2 class="alert" style='text-align:center'>Vous n'avez aucun favori.</h2>
	{% endif %}
	
{% endblock %}