{% extends "WebMainBundle::layout.html.twig"  %}


{% block body %}
	<div id="header">
        <h1>Web Project Velib</h1>
        <p>
        	Ce projet permet d'intéragir avec les services Velib via 	une carte intéractive.
        </p>
    </div>
{% endblock %}